<!DOCTYPE html>
<html>
  <head>
    <%- include ('./head') %>
  </head>
  <body>
    <!-- login success -->
    <div class="alert alert-success" role="alert">
      <span>User Name: <%= user.name %>,</span>
      <span>Email: <%= user.email %></span>
    </div>
    <!-- add news form -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <center>
                            <h3>News List</h3>
                        </center>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped"  id="myTable">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Published At</th>
                                        <th>Edit/Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < data.length; i++) { %>
                                    <tr>
                                        <td><%= data[i].title %></td>
                                        <td><%= data[i].description %></td>
                                        <td><%= data[i].publishedAt %></td>
                                        <td>
                                            <!-- id is used by edit/delete scripts -->
                                            <button data-target="#myModal" id="<%=data[i]._id%>" type="button" class="update btn btn-dark" data-toggle="modal">
                                                Edit
                                            </button>
                                            <button type="button" class="delete btn btn-info" id="<%=data[i]._id%>">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
  <%- include ('./footer') %>
</html>