<!DOCTYPE html>
<html>
  <head>
    <%- include ('./head1') %>
  </head>
  <body>
   <br> <br> <br>
    <main class="d-flex align-items-center min-vh-100 py-6 py-md-0">
    <div class="container">

    <!--  success message --> <br> 
    <br><div class="alert alert-success" role="alert">
      <span>Hello <%= user.name %>,</span>
      <span>Email: <%= user.email %></span>
    </div>
    <div class="card " style="transition: 0.3s; width: 100%;padding: 5px 36px;">
    <!-- add news form -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <center>
                           <br> <h3> All News List</h3>
                        </center>
                        <div class="table-responsive">
                            <!-- <table class="table table-hover table-striped"  id="myTable"> -->
                                <table id="example" class="display" style="width:100%"> 
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Published At</th>
                                        <th>Edit/Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < data.length; i++) { %>
                                        
                                    <tr>
                                        <td><%= data[i].title %></td>
                                        <td><%= data[i].description %></td>
                                        <td><%= data[i].publishedAt %></td>
                                        <td>
                                            <!-- id is used by edit/delete scripts -->
                                            <form action="/admin/openUpdateForm" method="POST"  style="text-align: center;">
                                                <input type="hidden" value="<%=data[i]._id%>" name="id">
                                                <input type="hidden" value="<%=data[i].title%>" name="title">
                                                <input type="hidden" value="<%=data[i].description%>" name="description">
                                                <input type="hidden" value="<%=data[i].url%>" name="url">
                                                <input type="hidden" value="<%=data[i].urlToImage%>" name="urlToImage">
                                                <input type="hidden" value="<%=data[i].publishedAt%>" name="publishedAt">
                                                <button type="submit" class="update btn btn-dark" style="text-align: center;">
                                                    Edit
                                                </button>
                                            </form><br>
                                            <form action="/admin/deleteNews" method="POST" style="text-align: center;">
                                                <input type="hidden" value="<%=data[i]._id%>" name="id">
                                                <button type="submit" class="delete btn btn-info">
                                                    Delete
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</main>
  </body>

  <%- include ('./footer1') %>
</html>