
<!DOCTYPE html>
<html>
  <head>
    <%- include ('./partials/head') %>
    <title>Home - News 24/7</title>
  </head>

<body>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>News Today,<br>Daily News 24/7</h1>
      <h2><b>WE ARE DEDICATED TO KEEPING YOUR FEED UPDATED WITH THE LATEST NEWS!</b></h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

        <!-- ====== Weather Report -->
        <div class="container">

          <div class="row ">
            <div class="col-lg-12 text-center" data-aos="fade-left" data-aos-delay="100">
             <!-- <h1>Weather Update</h1> -->
             <%- include ('./partials/weather2') %>
            </div>
          </div>
    
        </div>
        <!-- End Weather Section -->
    
    <!-- ============= Slider Section ======== -->
  
    <br><%- include ('./partials/imageSlider') %>
    <!-- Slider end ------------------>


    <!-- ======= Popular Courses Section ======= -->
    <%- include ('./partials/latestNews') %>
    <!-- End Popular Courses Section -->

    <!-- ======= Technology news Section ======= -->
    <%- include ('./partials/techNews') %>
    <!-- Technology news Section -->

    <%- include ('./partials/chatBox') %>

  </main><!-- End #main -->

  <%- include ('./partials/footer') %>
</body>

</html>