<html>
    <head>
        <%- include ('./partials/head') %>
        <title>Sports - News24x7</title>
    </head>
<body>

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
          <div class="container">
            <h2>Sports Update</h2>
            <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
          </div>
        </div><!-- End Breadcrumbs -->
    
        <!-- ======= Events Section ======= -->
        <section id="events" class="events">
          <div class="container" data-aos="fade-up">
    
            <div class="row">

              <% for(var i=0; i < newsData.length; i++) { 
                if(newsData[i].category == 'sports'){
                %>
              <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                  <div class="card-img">
                    <img src="<%=newsData[i].urlToImage%>" alt="..." height="350px" width="100%">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><a href=""><%=newsData[i].title%></a></h5>
                    <p class="fst-italic text-center"><%=newsData[i].publishedAt%></p>
                    <p class="card-text"><%=newsData[i].description%></p>
                  </div>
                </div>
              </div>

              <%} } %>

              <!-- <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                  <div class="card-img">
                    <img src="https://static.www.nfl.com/image/private/t_editorial_landscape_8_desktop_mobile/f_auto/league/rhol4rvsbwvbcf5vtwmn.jpg" alt="...">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><a href="">Marketing Strategies</a></h5>
                    <p class="fst-italic text-center">Sunday, November 15th at 7:00 pm</p>
                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                  <div class="card-img">
                    <img src="https://i1.wp.com/www.foot01.com/img/images/1920x1080/2020/Dec/04/psg-se-payer-messi-avec-l-argent-de-mbappe-c-est-non-icon_mar_080317_26_150-300899.jpg?w=696&resize=696%2C&ssl=1" alt="...">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><a href="">Introduction to webdesign</a></h5>
                    <p class="fst-italic text-center">Sunday, September 26th at 7:00 pm</p>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                  <div class="card-img">
                    <img src="https://www.ausleisure.com.au/images/ausleisure/files/New_Zealand_Cricket_James_Neesham_Blackcaps.jpg" alt="...">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><a href="">Marketing Strategies</a></h5>
                    <p class="fst-italic text-center">Sunday, November 15th at 7:00 pm</p>
                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                  </div>
                </div>
              </div> -->


            </div>
    
          </div>
        </section><!-- End Events Section -->
    
      </main><!-- End #main -->
    
</body>
<%- include ('./partials/footer') %>
</html>